@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$fontSize: 16px;
$fontFamily: 'Roboto', Arial, Helvetica, sans-serif;

$blue: #0d6efd;
$lightBlue: rgb(13 110 253 / 25%);
$darkBlue: #0b5ed7;

$gray: rgb(206, 212, 218);
$lightGray: rgb(248, 249, 250);
$darkGray: #343a40;

$green: green;
